@use "variables";
@use "mixins";

.main-content {
    padding: 72px 58px 0;

    .container {
        max-width: 1233px;
        
        .mini-container{
            max-width: 550px;
        }
    }    
    
    &__title{
        padding: 80px 0 24px;
        
        img{
            width: 400px;
        }
    }

    &__classification{

        &__item{
            max-height: 20px;
            margin-right: 2px;
        }   

        span{
            display: block;
            @include mixins.text(12px);
            color: variables.$secondaryTextColor;
            padding-bottom: 36px;
        }
    }
    
    &__description {
        @include mixins.text(20px);
        margin-bottom: 16px;
    }

    &__control{
        display: flex;
        align-items: center;
        
        &__item {  
            @include mixins.controlItem(variables.$watchButtonBgColor);         

            a{
                @include mixins.linkControl(variables.$backgroundColor);
                
                img {
                    transform: translateY(10%);
                    margin-right: 16px;
                }
            }

            &:hover {
                opacity: .6;
            }

            &--preview {
                @include mixins.controlItem;
    
                a {
                    @include mixins.linkControl;
                }
    
                &:hover {
                    opacity: .7;
                }
            }
    
            &--add {
                @include mixins.controlItem;
                border-radius: 100%;
                height: 48px;
                width: 48px;
    
                img{
                    width: 16px;
                    transform: translate(-45%, 15%);
                }
    
                &:hover {
                    opacity: .7;
                }
            }
        }
    }

    @media (max-width: 480px) {
        padding: 0 40px;

        &__title{
            padding: 80px 0 24px;
            
            img{
                width: 196px;
                margin-top: 80px;
            }
        }

        &__control{
            display: block;

            &__item {
                display: block;
                width: 100%;
                margin: 0;
                margin-bottom: 16px;

                &--add {
                    background: transparent;
                    margin: 0;
                    margin-bottom: 16px;
                    padding: 1px 0;
                    display: block;

                    div { 
                        height: 48px;
                        width: 48px;
                        margin: 0 auto;
                        background: variables.$mainTextColordarker;
                        border-radius: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        img{
                            transform: translate(0%, 0%);
                            z-index: -1;
                        }
                    }       
                }
            }
        }

        &__description {
            margin-bottom: 32px;
        }
    }

    @media (min-width: 481px) and (max-width: 768px) {
        padding: 0 40px;

        &__title{
            padding: 80px 0 24px;
            
            img{
                width: 280px;
                margin-top: 80px;
            }
        }

        &__control{
            display: block;

            &__item {
                display: block;
                width: 100%;
                margin: 0;
                margin-bottom: 16px;

                &--add {
                    background: transparent;
                    margin: 0;
                    margin-bottom: 16px;
                    padding: 1px 0;
                    display: block;

                    div { 
                        height: 48px;
                        width: 48px;
                        margin: 0 auto;
                        background: variables.$mainTextColordarker;
                        border-radius: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        img{
                            transform: translate(0%, 0%);
                            z-index: -1;
                        }
                    }       
                }
            }
        }

        &__description {
            margin-bottom: 32px;
        }
    }
}

